* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.gjs-grid-column {
	flex: 1 1 0%;
	padding: 5px 0;
}

.gjs-grid-row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: row;
	min-height: auto;
	padding: 10px 0;
}

#id7x {
	flex: 0 1 auto;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
}

#iffs {
	flex: 0 1 auto;
}

#iyd2 {
	align-items: center;
	justify-content: space-between;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: rgba(255, 255, 255, 1);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	backdrop-filter: blur(13px);
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.14);
}

#i6po {
	justify-content: center;
	position: sticky;
	top: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#itjq {
	width: 100%;
	max-width: 1200px;
}

#irtfd {
	flex: 0 1 auto;
}

#icyzp {
	flex: 0 1 auto;
}

#irz7b {
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 20px;
	padding-right: 20px;
}

#iycz3 {
	max-width: 1200px;
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#iau9 {
	font-family: Arial, Helvetica, sans-serif;
	background-image: unset;
	background-position: unset;
	background-size: unset;
	background-repeat: unset;
	background-attachment: unset;
	background-origin: unset;
	color: #475569;
	background-color: #0d1117;
}

#imymf {
	max-width: 1200px;
	align-items: center;
	display: flex;
	flex-direction: column;
}

#feature-section {
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 20px;
	padding-right: 20px;
}

#ib541 {
	gap: 100px;
	justify-content: space-between;
}

#ioyxg {
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 20px;
	padding-right: 20px;
}

.gjs-grid-column.feature-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 30%;
}

#testimonial-section {
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 20px;
	padding-right: 20px;
}

.gjs-grid-column.testimonial-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 45%;
	background-color: rgba(247, 247, 247, 0.23);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	align-items: flex-start;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgba(0, 0, 0, 0.06);
	border-right-color: rgba(0, 0, 0, 0.06);
	border-bottom-color: rgba(0, 0, 0, 0.06);
	border-left-color: rgba(0, 0, 0, 0.06);
}

#ilriti {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
}

#iv3be5 {
	justify-content: center;
	padding-top: 80px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 80px;
}

#iz29ek {
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 20px;
	padding-right: 20px;
}

#i1pqd {
	padding: 10px;
	font-family: Comic Sans MS, cursive, sans-serif;
	color: rgba(0, 0, 0, 1);
	font-size: 33px;
}

#ig4xr {
	font-size: 73px;
	font-family: Comic Sans MS, cursive, sans-serif;
}

@media (max-width:992px) {
	.gjs-grid-row {
		flex-direction: column;
	}

	#iyd2 {
		flex-direction: row;
	}
}

@media (max-width:768px) {
	#iffs {
		display: none;
	}
}